@import '../../GlobalStyles/Mixin.scss';

.wrapper {
    @include defaultTheme;
}
.inner,
.container {
    width: 100%;
    height: 100%;
}

.inner,
.container {
    display: flex !important;
    align-items: center;
    justify-content: center;
}
// darkMode

.wrapper.dark {
    @include BackgroundDarkTheme;
}

// responsive

@media (max-width: 739px) {
    .wrapper {
        overflow-y: scroll;
    }
    .container {
        height: auto;
        width: 90%;
    }
}
