.inner {
    text-align: center;

    h1 {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 50px;
        padding-bottom: 30px;
    }
    p {
        font-size: 1.8rem;
        padding: 10px 0;
    }
    button {
        margin-top: 30px;
        padding: 15px 20px;
        border-radius: 10px;
    }
}

// darkMode

.inner.dark {
    h1,
    p {
        color: var(--text-color-darkMode);
    }
}
